    <footer class="secondary_header footer">
      <div class="main-footer">
        <p class="copyright">&nbsp;copyright winter 2022, tomas zuraev, web322 ndd</p>
        <p class="copyright">Images from:</p>
        <p class="references"><a href="https://pixabay.com"><em>pixabay.com</em></a></p>
  <p class="references"><a href="https://www.pexels.com"><em>pexels.com&nbsp;</em></a></p>
      </div>
      <div style="text-align: center;" id="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </footer>