    <div class="primary_header">
        <p class="title"> COVID-19 information&nbsp; &nbsp; <a style="color: black;" href="#">click here</a></p>
      </div>
      <nav class="secondary_header" id="menu">
        <img class="logo" src="/logo/logo.svg" alt=""/>
        <ul>
          <li> <a href="/sign-up">Sign up</a></li>
          <li> <a href="/login"> Login </a></li>
          <li> <a href="/onthemenu"> On the menu </a></li>
          <li><a href="/">Home</a></li>
        </ul>
  </nav>