      <h2 class="noDisplay">Main Content</h2>
       <div id="all_page">
    <section class="hero">
          <div class="hero-inner">
              <h1 style="color: black;">#1 service in Ontario</h1>
              <h2 style="color: black;">Make your dream food become real</h2>
              <a href="#" class="btn">Order a pizza</a>
          </div>
      </section>
      </div>