<h1 style="padding-left: 20px; font-size: 30px;text-align: center;padding-bottom: 3%; font-family: 'Poppins', sans-serif;">How do we make your pizza?</h1>
    <div id = "propertyContainer">
            <div class="tutorial">
                <img style="width: 35%; " src="https://cdn.pixabay.com/photo/2015/08/25/03/50/background-906135_960_720.jpg" alt=""> 
                <h1>You choose needed ingredients</h1>
                <p>We have hundreds of different ingredients that you can choose from</p>
            </div>
            <div class="tutorial">
                <img style="width: 39%;" src="https://cdn.pixabay.com/photo/2016/01/26/17/48/home-1162999_960_720.jpg" alt="">
                <h1>We cook it for you</h1>
                    <p>We always make sure that your pizza is baked with the best quality</p>
            </div>
    
            <div class="tutorial">
                <img style="width: 35%;" src="https://cdn.pixabay.com/photo/2014/05/30/07/23/pizza-boxes-358029_960_720.jpg" alt="">
                <h1>We deliver the pizza directly to you</h1>
                <p>Pizza is delivered within 20 minutes or your money back guaranteed</p>
                    
            </div>
    </div>
    </div>