<div class="container2" style="text-align: center;padding-left: 30%;height: 62px;">
   <p style="font-size: 22px;font-family: 'Roboto', sans-serif;"> Order 2 meals and get 1 free </p>
   <div style="font-size: 20px; border-radius: 10px; border: 1px solid black;width: 140px;background-color: rgb(240, 198, 14);font-family: 'Open Sans', sans-serif;"><a href="#">Redeem</a></div>
</div>
  <h1 class="centered home-title">
    <br>
    <br>
    <br>
    <span style="font-size: 20px; color: rgb(0, 0, 0);">Build your own custom pizza!</span> 
 </h1>
 

 